.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00b7ff;
    color: white;
}


.button-row {
        margin: 5px 5px 5px 15px;
        padding: 15px;
        width: 55px;
        height: 50px;
        background: #00b7ff;
        border-radius: 5px;
        border: 0;
        color: #fff;
        font-weight: bold;
        transition: background-color 0.4s;
    }

i {
    font-size: 20px;
    color: #fff;
}