.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td,
.customers th {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00b7ff;
    color: white;
}

.customers td {
  color: #3f3f4a;
}



.actions {
    width: 1%;
}

.column {
    cursor: pointer;
}

.td-actions {
display: flex;
justify-content: center;
align-items: center;

    .button-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: #00b7ff ;
        margin-right: 4px;
        cursor: pointer;
    }
}

 i {
     font-size: 20px;
    color: #fff;
}


.header-table {
    display: flex;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: gray;
  }

   select {
    padding: 10px 5px;
    margin: 5px 0 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: gray;
  }

  // pagination
  .pagination {
      margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    cursor: pointer;
  }
  
  .pagination a.active {
    background-color: #00b7ff;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


  .invisible {
      visibility: hidden;
  }