.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
   
   .box {
       background-color: #fff;
       width: auto;
       height: auto;
       border-radius: 2px;

       .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        .modal-title {
            font-size: 23px;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 1.2;
            color: #2e2e2e;
            }

        .close {
            display: flex;
            position: relative;
            align-items: center;
            background-color: transparent;
            border: none;
            outline: none;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &:before,
            &:after {
                content: ' ';
                position: absolute;
                width: 2.5px;
                height: 15px;
                background-color: #444343;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
       }

       .modal-content {
        display: flex;
        justify-content: center;
        // min-height: 30vh;
        padding: 30px;
    }

       .modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #e9ecef;

    } 
    
   }

   @media (max-width: 931px) {
        .box {
            width: 98%;
            height: auto;
        }
    }
}

.button {
    color: #fff;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    margin: 2px ;
  }
  .primary {
      background-color: #007bff;
  }
  .default {
    background-color: #5a6268;
}