<div class="modal">
    <div class="box">
        <div class="modal-header">
            <div class="modal-title">
                {{title}}
            </div>
            <button class="close" (click)="onClose()"></button>
        </div>
        <div class="modal-content">
            <ng-content></ng-content>
        </div>
        <div class="modal-footer">
            <button class="button default" (click)="onClose()">Cancelar</button>
            <button class="button primary" (click)="onConfirm()">Salvar</button>
        </div>
    </div>
</div>