<h2 *ngIf="formGroup.controls['numero'].value" mat-dialog-title>Ordem de serviço
  [{{formGroup.controls['numero'].value}}]</h2>
<h2 *ngIf="!formGroup.controls['numero'].value" mat-dialog-title>Ordem de serviço</h2>
<mat-dialog-content class="mat-typography">
  <fieldset>
    <div class="field-group">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label>
          <input type="text" placeholder="Buscar..." aria-label="Number" matInput
            [formControl]="formGroup.controls['cliente_nome']" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let cliente of clientesFiltrados | async " [value]="cliente.nome">
              {{cliente.nome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Modelo</mat-label>
          <input matInput [formControl]="formGroup.controls['modelo']">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput [formControl]="formGroup.controls['status']">
        </mat-form-field>
      </p>
    </div>

    <div class="field-group">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Problema reclamado</mat-label>
          <input matInput [formControl]="formGroup.controls['problema_reclamado']">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Observação</mat-label>
          <input matInput [formControl]="formGroup.controls['observacao']">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Defeito encontrado</mat-label>
          <input matInput [formControl]="formGroup.controls['defeito_encontrado']">
        </mat-form-field>
      </p>
    </div>

    <div class="field-group contato">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput [formControl]="formGroup.controls['valor']">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Observação do técnico</mat-label>
          <input matInput [formControl]="formGroup.controls['observacao_tecnico']">
        </mat-form-field>
      </p>
    </div>

  </fieldset>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="cancelar" (click)="closeModal()">Cancelar</button>
  <button class="salvar" (click)="submit()">Salvar</button>
</mat-dialog-actions>