<div class="content">
    <div>
        <h2 *ngIf="data.title" mat-dialog-title>{{data.title}}</h2>
        <div *ngIf="data.message" mat-dialog-content>{{data.message}}</div>
    </div>
    <div class="footer">
        <button *ngIf="data.labelButtonCancel" (click)="cancel()" class="cancel" mat-button
            mat-dialog-close>{{data.labelButtonCancel}}</button>
        <button *ngIf="data.labelButtonSubmit" (click)="confirm()" class="confirm" mat-button
            mat-dialog-close>{{data.labelButtonSubmit}}</button>
    </div>
</div>