.content {
    padding: 0 40px;
    
    .footer {
        margin-top: 15px;
        text-align: center;
      }

      button {
        border: none;
        border-radius: 4px;
        color: white;
        margin: 2px;
        padding: 8px 16px;
      }
      
      .confirm {
        background-color: #3f51b5;
      }
      
      .cancel {
        color: #4e4e4e;
      }
}



