h2 {
  color: #4e4e4e;
  padding: 0 40px;
  font-size: 20px;
}

fieldset {
  margin-top: 10px;
  padding: 0 40px;
  border: 0;

  mat-form-field mat-label {
    font-size: 0.8rem;
  }

  mat-form-field {
    width: 100%;
  }

  .container  {
    display: flex;

    .mat-form-field + .mat-form-field {
      margin-left: 16px;
    }

    p {
      margin-left: 16px;
    }
  }
}


mat-dialog-actions {
  margin-top: 15px;
}

button {
  border: none;
  border-radius: 4px;
  color: white;
  margin: 2px;
  padding: 8px 16px;
}

.salvar {
  background-color: #3f51b5;
}

.cancelar {
  color: #4e4e4e;
}