<h2 mat-dialog-title>Dados do cliente</h2>
<mat-dialog-content class="mat-typography">
  <fieldset>
    <div class="field-group">
      <p>
        <mat-form-field class="nome-cliente" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex.: Maria José da Silva">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="nome-cliente" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="exemplo@eletroinfo.com">
        </mat-form-field>
      </p>
    </div>

    <div class="field-group">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="Ex.: 000.000.000-00">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>CNPJ</mat-label>
          <input matInput placeholder="Ex.: 00.000.000/0000-00">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>RG</mat-label>
          <input matInput placeholder="Ex.: 0.000.000">
        </mat-form-field>
      </p>
    </div>

    <div class="field-group contato">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput placeholder="(99) 9999-9999">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="(99) 9 9999-9999">
        </mat-form-field>
      </p>
    </div>

    <div class="field-group">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="00000-000">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Ex.: Expírito Santo">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Ex.: Vila Velha">
        </mat-form-field>
      </p>
    </div>

    <div class="field-group">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Ex.: Terra Vermelha">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Ex.: Rua dos Bobos">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Ex.: 0">
        </mat-form-field>
      </p>
    </div>
  </fieldset>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button>Cancel</button>
  <button>Salvar</button>
</mat-dialog-actions>
