fieldset {
  margin: 64px auto;
  padding: 0 75px;
  border: 0;
  max-width: 960px;

  h2 {
    font-size: 24px;
  }

  .field-group {
    width: auto;
    display: flex;

    .nome-cliente {
      width: 650px;
    }

    p + p {
      margin-left: 24px;
    }
  }
}
