<h2 *ngIf="!isUpdate">Cliente</h2>
<h2 *ngIf="isUpdate" >Cliente [{{formGroup.controls['nome'].value}}]</h2>

<mat-dialog-content class="mat-typography">
  <fieldset [formGroup]="formGroup">
    <div class="container">
      <mat-form-field class="nome-cliente" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
      </mat-form-field>

      <mat-form-field class="nome-cliente" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <p> Ativo: 
        <mat-slide-toggle color="primary" formControlName="ativo" [checked]="true"></mat-slide-toggle>
      </p>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf">
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>CNPJ</mat-label>
        <input matInput formControlName="cnpj">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>RG</mat-label>
        <input matInput formControlName="rg">
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="celular">
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="estado">
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input matInput formControlName="endereco_numero">
      </mat-form-field>
    </div>
  </fieldset>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="cancelar" (click)="closeModal()">Cancelar</button>
  <button class="salvar" (click)="submit()">Salvar</button>
</mat-dialog-actions>