h2 {
  color: #4e4e4e;
  padding: 0 40px;
}

fieldset {
  margin-top: 10px;
  padding: 0 40px;
  border: 0;

    mat-form-field mat-label {
      font-size: 0.8rem;
    }

    mat-form-field.nome-cliente,
    .contato mat-form-field {
      width: 310px;
    }


  .field-group {
    width: auto;
    display: flex;

    p + p {
      margin-left: 16px;
    }
  }
}

mat-dialog-actions {
  margin-top: 15px;
}

button {
  border: none;
  border-radius: 4px;
  color: white;
  margin: 2px;
  padding: 8px 16px;
}

.salvar {
  background-color: #3f51b5;
}

.cancelar {
  color: #4e4e4e;
}

