h2 {
  text-align: center;
  color: #4e4e4e;
}

fieldset {
  margin-top: 10px;
  padding: 0 50px;
  border: 0;

    mat-form-field mat-label {
      font-size: 0.8rem;
    }

    mat-form-field.nome-cliente,
    .contato mat-form-field {
      width: 310px;
    }


  .field-group {
    width: auto;
    display: flex;

    p + p {
      margin-left: 16px;
    }
  }
}

mat-dialog-actions button {
  background-color: #3f51b5;
  border: none;
  border-radius: 4px;
  color: white;
  margin: 8px;
  padding: 8px 16px;
}

mat-dialog-actions button + button {
  margin-right: 50px;
}
