ul {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  margin: 0 0 8vh 0;
  padding: 0;
  overflow: hidden;
  background-color: #3f51b5;
  box-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

li {
  float: left;
}

span {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 1rem;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #3a4baa;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 300;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
