<ul>
  <li class="logo">
    <a routerLink="/">
      <span>
        <i class="fa fa-superpowers" aria-hidden="true" style="font-size: 32px"></i>
        <!-- <img class="logo" src="../../../assets/pc.svg" alt="Logo"> -->
      </span>
    </a>
  </li>

  <li>
    <a class="ordem-servico" routerLink="ordem-servico">
      Ordens de Serviço
    </a>
  </li>

  <li class="dropdown">
    <a class="dropbtn">
      Cadastro <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
    <div class="dropdown-content">
      <a routerLink="clientes">Cliente</a>
      <a href="#">Serviço</a>
    </div>
  </li>
</ul>