* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

body, input, button, a {
  font: 16px Roboto, sans-serif;
}

a, button {
  cursor: pointer;
}
