<button *ngIf="listaConfig.createButton" class="button-create" (click)="sendCreateActionEmmiter()"><i class="fa fa-plus"
        aria-hidden="true"></i></button>
<div class="header-lista">
    <select [(ngModel)]="rowsPerPage" (change)="setRowsPerPage()" title="Registros por página">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <input [(ngModel)]="search" (keyup.enter)="onEnterSearch()" type="text" placeholder="Pesquisa">
    <button class="button-find" (click)="onEnterSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>


<table>
    <tr>
        <th class="header-column" width="{{columnHead.width}}" *ngFor="let columnHead of listaConfig.columns"
            (click)="onClickHeaderColumn(columnHead)">
            <p> {{ columnHead.title }} </p>
            <!-- <i *ngIf="!verificaColunaOrdenada(columnHead)" class="fa fa-arrow-up header-icon-order"></i>
            <i *ngIf="verificaColunaOrdenada(columnHead)" class="fa fa-arrow-down header-icon-order"></i> -->
        </th>
        <th class="action-header">
            <p> Ações</p>
        </th>
    </tr>
    <tr *ngFor="let dado of dados">
        <td class="content-column" *ngFor="let columnHead of listaConfig.columns">
            <p>{{buildValue(dado, columnHead,  columnHead.property)}}</p>
        </td>
        <td class="action-content">
            <i *ngFor="let action of listaConfig.rowActions" (click)="onRowActionClicked(action.action, dado)"
                class="{{action.icon}}" title="{{action.label}}" aria-hidden="true"></i>
        </td>
    </tr>
</table>

<div class="pagination">
    <a [ngClass]="{ 'invisible' : listaConfig.page == 1 }" (click)="onClickPreviusPage()">&laquo;</a>
    <div *ngFor="let page of getPages()">
        <a *ngIf="rangePagesVisible(page)" [ngClass]="{'active': page == listaConfig.page}"
            (click)="setPage(page)">{{page}}</a>
    </div>
    <a [ngClass]="{ 'invisible' : listaConfig.page == totalPages || listaConfig.countData == 0 }"
        (click)="onClickNextPage()">&raquo;</a>
</div>