


    .topo {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 10px 15px;

       div {
           flex: 1;

          span {

            & + span {
                margin-left: 5px;
            }

            button {
            border: 1px solid #ccc;
            padding: 0 15px;           
            width: 57px;
            height: 50px;
            background: #3f51b5;
            border-radius: 5px;
            border: 0;
            color: #fff;
            font-weight: bold;
            transition: background-color 0.4s;
        }
        }
     
       }

       .right {
       text-align: right;
    }

       .title {
           display: flex;
           align-items: center;
           justify-content: center;
           height: 50px;
           color: #3a3a3a;
       }
    }
    
    .header-lista {
        padding: 0 15px;
        display: flex;
    }

    input {
        margin-bottom: 5px;
        flex: 1;
        height: 50px;
        padding: 0 24px;
        border: 0;
        border-radius: 5px 0 0 5px;
        border: 1px solid #ccc;
        color: #3a3a3a;
        &::placeholder {
            color: #a8a8b3;
        }
    }

    .button-find {
        border: 1px solid #ccc;
        width: 55px;
        height: 50px;
        background: #3f51b5;
        border-radius: 0 5px 5px 0;
        border: 0;
        color: #fff;
        font-weight: bold;
        transition: background-color 0.4s;
    }
   
   select {
    height: 50px;
    padding: 10px 5px;
    margin-right: 5px;
    border: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: gray;
  }

  // pagination
  .pagination {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  .pagination a {
    color: #464647;
    background-color: #fff;
    border-radius: 5px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }

  .pagination a.active {
    background-color: #3f51b5;
    color: white;
    border: 1px solid #3f51b5;
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}


  .invisible {
      visibility: hidden;
  }

  table {
    padding: 0 15px;
    margin-top: 5px;
    width: 100%;


    .header-column {
        flex: 1;
        cursor: pointer;
        text-align: left;
        p {
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            margin-top: 4px;
        }
        }

        .content-column {
            flex: 1;
            p {
                font-size: 16px;
                color: #737375;
                margin-top: 4px;
            }
            }

        tr {
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 5px;
            width: 100%;
            padding: 10px 5px 10px 5px;
            text-decoration: none;
            transition: transform 0.2s;
            cursor: default;


        & + tr {
            margin-top: 5px;
        }


    .content-column {
    flex: 1;
    p {
    font-size: 16px;
    color: #737375;
    margin-top: 4px;
    }
    }

}

    .action-header {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 1%;
        margin-left: 10px;

        p {
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            margin-top: 4px;
        }
      
    }

    .action-content{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 1%;
        margin-left: 5px;


        i {
            cursor: pointer;
            font-size: 20px;
            color: #3f51b5;
            margin: 0 8px;
        }
    }
  }

  p {
      padding: 0 15px;
  }